<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Members Only</title>
</head>
<body>
  <% if (locals.user) { %>
    <h1>Welcome Back, <%= user.firstname %> <%= user.lastname %>!</h1>
    <% if (user.is_admin) { %>
      <p>You are now an admin.</p>
    <% } else if (user.is_member) { %>
      <p>You are now a prestige member of our exclusive club.</p>
      <a href="/become-admin">Become Admin</a>
    <% } else { %>
      <p>You are not a member yet.</p>
      <a href="/join-club">Join The Club</a>
      <a href="/become-admin">Become Admin</a>
    <% } %>
    <a href="/messages/new">Create a Message</a>
    <a href="/log-out">Log Out</a>
  <% } else { %>
    <h1>Welcome!</h1> 
    <p>Please log in. </p>
    <form action="/log-in" method="POST">
      <label for="email">Username</label>
      <input type="email" id="email" name="email" placeholder="someone@example.com">
      <br>
      <label for="password">Password</label>
      <input type="password" id="password" name="password">
      <button type="submit">Log In</button>
    </form>
    <a href="/sign-up">Sign Up</a>
  <% } %>
  <h2>Messages</h2>
  <ul>
    <% messages.forEach(message => { %>
      <li>
        <p><%= message.content %></p>
        <% if (locals.user) { %>
          <% if (user.is_member) { %>
            <p>By: <%= message.firstname %> <%= message.lastname %></p>
            <p>On: <%= message.added %></p> 
            <% if (user.is_admin) { %>
              <a href="messages/delete/<%= message.id %>">Delete</a>
            <% } %>
          <% } %>
        <% } %>
      </li>
    <% }) %>
  </ul>
</body>
</html>